@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");

.analytics-title {
  font-size: 1.5rem;
  font-weight: 500;
  /* text-align: left; */
  margin-left: auto;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.9);
}

/* .analytics-title-para {
  text-align: left;
} */

/* .bi bi-eye-fill {
  color: rgb(103, 103, 103);
} */

.analytics-title-para span {
  color: rgb(103, 103, 103);
  font-size: 0.9rem;
}

.analytics-people-fill {
  font-size: 20px;
  margin-top: -2px;
}

.analytics-people-fill:hover,
.bi.bi-search:hover {
  cursor: pointer;
}

.bi.bi-search {
  font-size: 18px;
}

.profile-views-title,
.search-appearances-title {
  font-weight: 700;
  font-size: 0.95rem;
}

.profile-views-title:hover,
.search-appearances-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.analytics-profile-views p {
  font-size: 0.95rem;
}

.analytics-search-appearances p {
  font-size: 0.95rem;
}
