:root {
  --corner-radius-medium: 0.4rem;
  --main-background-color: #f3f2ef;
  --main-blue-color: #0a66c2;
  --main-blue-hover-color: #004182;
  --text-black-light: rgba(0, 0, 0, 0.6);
}

.App {
  /* text-align: center; */
  background-color: var(--main-background-color);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
